In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

In [2]:
x = ['PG','^GSPC']
df = pd.DataFrame()
for t in x:
    df[t] = wb.DataReader(t,data_source = 'yahoo',start = '2013-1-1',end = '2018-1-1')['Adj Close']

In [3]:
df.head()

                   PG        ^GSPC
Date
2012-12-31  56.050892  1426.189941
2013-01-02  57.289322  1462.420044
2013-01-03  56.926041  1459.369995
2013-01-04  57.041630  1466.469971
2013-01-07  56.653587  1461.890015

In [4]:
log_return = np.log(df/df.shift(1))

In [5]:
log_return

                  PG     ^GSPC
Date
2012-12-31       NaN       NaN
2013-01-02  0.021854  0.025086
2013-01-03 -0.006361 -0.002088
2013-01-04  0.002028  0.004853
2013-01-07 -0.006826 -0.003128
2013-01-08 -0.001604 -0.003248
2013-01-09  0.005386  0.002652
2013-01-10  0.005646  0.007569
2013-01-11 -0.000722 -0.000048
2013-01-14  0.005906 -0.000931
2013-01-15  0.003584  0.001128
2013-01-16  0.000317  0.000197
2013-01-17  0.004748  0.005627
2013-01-18  0.003868  0.003397
2013-01-22  0.000143  0.004418
2013-01-23  0.010523  0.001506
2013-01-24 -0.003827  0.000007
2013-01-25  0.039401  0.005431
2013-01-28  0.007074 -0.001851
2013-01-29  0.016536  0.005093
2013-01-30  0.001066 -0.003907
2013-01-31  0.001065 -0.002567
2013-02-01  0.010061  0.010003
2013-02-04 -0.008864 -0.011606
2013-02-05  0.005962  0.010363
2013-02-06  0.005927  0.000549
2013-02-07  0.000000 -0.001807
2013-02-08 -0.005267  0.005642
2013-02-11  0.000792 -0.000606
2013-02-12  0.002240  0.001594
...              ...       ...
2017-11-16  0.011494  0.008163
2017-11-17 -0.009230 -0.002629
2017-11-20 -0.001811  0.001275
2017-11-21  0.005085  0.006520
2017-11-22 -0.004405 -0.000751
2017-11-24  0.001358  0.002054
2017-11-27  0.005749 -0.000384
2017-11-28  0.004934  0.009800
2017-11-29 -0.000224 -0.000369
2017-11-30  0.006802  0.008158
2017-12-01  0.004103 -0.002027
2017-12-04  0.011553 -0.001053
2017-12-05 -0.000109 -0.003746
2017-12-06 -0.001642 -0.000114
2017-12-07 -0.012683  0.002928
2017-12-08  0.002992  0.005491
2017-12-11 -0.001550  0.003197
2017-12-12 -0.004220  0.001548
2017-12-13  0.011398 -0.000473
2017-12-14  0.001320 -0.004079
2017-12-15  0.009733  0.008934
2017-12-18 -0.000109  0.005348
2017-12-19 -0.002179 -0.003235
2017-12-20 -0.001638 -0.000828
2017-12-21  0.001528  0.001984
2017-12-22  0.005005 -0.000458
2017-12-26  0.003792 -0.001059
2017-12-27 -0.004117  0.000791
2017-12-28 -0.000326  0.001832
2017-12-29 -0.002066 -0.005197

[1260 rows x 2 columns]

In [6]:
sec_return = log_return.cov()*250
sec_return

             PG     ^GSPC
PG     0.019279  0.008819
^GSPC  0.008819  0.014068

In [7]:
market_price = log_return['^GSPC'].var()*250

In [8]:
market_price

0.014067847864092792

In [9]:
cov_market = sec_return.iloc[0,1]

In [10]:
cov_market

0.008819487993687916

In [11]:
beta = cov_market/market_price

In [12]:
beta

0.6269251756836984

In [13]:
expected_return = 0.025 + beta*0.05

In [14]:
expected_return

0.05634625878418492